@media (max-width: 1300px) and (min-width: 981px) {
    .wrapper{
        width: 900px;
        display: inline-block;
    }
    .profile{
        width: 900px;
        margin-bottom: 50px;
    }

    .profile .line{
        height: 180px;
        left: -28px;
        top: 30px;
    }
    .profile .profile__info-font-t::before{
        left: -31px;
    }
    .profile__info{
        position: relative;
        left: 300px;
        bottom: 33px;
    }

    .profile__info .glass{
        bottom: 20px;
    }
    .profile__info-glasses{
        bottom: -8px;
    }
    .btn {
        margin-left: 300px;
    }
    .main {
        padding: 0;
    }
}

@media (max-width: 980px) {
    .wrapper{
        width: 100%;
        display: inline-block;
        padding: 0 30px;
    }

    .footer {
        flex-wrap: wrap;
        width: 100%;
        height: max-content;
}

    .profile {
        width: 100%;
    }

    .main {
        width: 100%;
    }
    .profile .line{
        display: none;
    }

    .profile__info{
        display: block;
        margin-left: 40%;
    }
    .profile .profile__info-font-t::before{
        left: 30%;
        margin-left: 5%;
    }

    .profile__info-glasses {
        bottom: 22px;
        right: 50px;
    }

    .profile__info .glass {
        bottom: 50px;
        right: 56px
    }

    .btn {
        margin-left: 30%;
    }
    .main{
        width: 100%;
        padding: 0;
    }
    .header{
        margin-top: 50px;
        width: 100%;

    }


    .menu-btn {
        display: block;
        width: 80px;
        padding: 24px 24px;
        border-left: 1px solid #ccc;
    }
    
    .nav .nav-btn-menu {
        display: none;
    }
    .content {
        width: 100%;
    }
    .my-sv-items {
        display: block;  
    }

    .my-sv-items .item {
        width: 100%;
        height: max-content;
        margin: 15px 0;
    }

    .home-skills{
        display: block;
    }
    .skill-item{
        width: 100%;
        padding: 40px 0;
    }

    .lv{
        width: 100%;
    }

    .header a{
        text-decoration: none;
    }

    .header .menu-item{
        position: absolute;
        width: 100%;
    }

    .header .menu-item li{
        position: relative;
        display: block;
        padding: 10px 0;
        width: 100%;
        background-color: black;
        top: 10px;
        left: 10px;
    }
    .history {
        width: 100%;
    }

    .history-info {
        display: block;
        margin-top: 0 30px;
    }

    .info-work, .info-edu {
        margin-bottom: 100px;
        width: 100%;
    }

    .content-portfolio {
        width: 100%;
    }

    .client .img{
        margin-bottom: 30px;
    }

    .content-blog {
        width: 100%;
    }

    .blog-item {
        width: 100%;
    }

    /* .content-contact {
        width: 100%;
    } */

    .contact-info{
        width: 100%;
        display: inline-block;
    }
    
    .contact-info .form .form-input{
        display: block;
        padding: 30px 0;
    }

    .site-input {
        width: 100% !important;
    }

    .infomations {
        padding-left: 0;
        margin-top: 60px;
    }
}