
/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 html{
    font-family: Arial, Helvetica, sans-serif;
 }
 :root{
    --color-yellow: rgb(255,197,0);
    --color-yellow-hover: rgb(187, 148, 22);
    --color-bg:  rgba(235, 255, 170, 0.15);
 }

body{
    background:url(https://html.tavonline.co/mat/default/images/bg.png) #fafafa;
    
}

p{
    font-size: 14px;
    opacity: 0.8;
}
ul{
    list-style-type: none;
}


.line{
    display: inline-block;
    width: max-content;
    line-height: 5px;
}

.line span{display: inline-block;
    height: 7px;
    width: 100%;
    background-color: var(--color-yellow);
    opacity: 0.5;
}

h5{
    line-height: 30px;
    padding-top: 10px;
}
h6{
    line-height:30px;
}
.wrapper{
    width: 1140px;
    height: 5000px;
    margin: auto;
    margin-top: 60px;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
}


.profile{
    border-radius: 7px;
    height: 636px;
    width: 262px;
    padding: 15px 0;
    background-color: #fff;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
    position: relative;
}

.profile__name{
    margin-left: 20px;
    width: 100%;
    height: 38px;
}

.name{
    font-size: 16px;
}

.job {
    font-size: 14px;
    opacity: 0.7;
}
.profile__info{
    line-height: 2.5;
    /* height: 244px; */
    font-size: 13px;
    margin: 0px 0px 0px 60px;
    list-style-type: none;
}   


.profile__info-glasses{
    width: 15%;
    position: relative;
    bottom: 22px;
    right: 42px;
    z-index: 1;
}

.profile__info .glass{
    border: 2px solid var(--color-yellow);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: var(--color-yellow);
    position: relative;
    bottom: 60px;
    right: 48px;
    opacity: 1;
}

.profile .profile__info-font-t::before{
    content: "";
    border: 2px solid var(--color-yellow);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 30px;
    margin-top: 12px;
    z-index: 1;
}

.profile .line{
    position: absolute;
    height: 212px;
    width: 1px;
    background-color: #ccc;
    left: 33px;
    top: 330px;
}




.profile__info-font{
    opacity: 0.7;
}
.profile__info-font-t{
  
}

.profile__avatar{
    width: 100%;
    height: 262px;
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
}
.downloadcv{
    margin-left: 60px;
}

.btn{
    font-size: bold 14px;
    font-weight: bold;
    border: 0;
    border-radius: 50px;
    padding: 1px 25px;
    line-height: 36px;
    background: var(--color-yellow);
    cursor: pointer;
    margin-top: 10px;
    margin-left: px;
    
}

.btn:hover{
    background-color: var(--color-yellow-hover)
}
    

.main{
    width: 848px;
    height: auto;
    padding: 0 15px;
    margin-left: 20px;
}
.header{
    width: 848px;
    height: 76px;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
}
.nav li{
  display: inline-block;
}
.nav li a{
    color: black;
    text-decoration: none;
    line-height: 76px;
    font-weight: bold;
    font-size: 15px;
    padding: 0 10px;
}
.nav li a:hover{
    color: var(--color-yellow)
}

.nav .nav-btn-h{
    background-color: var(--color-yellow);
    border-radius: 7px 0 0 7px;

}
.nav .nav-btn-h:hover{
    background-color: var(--color-yellow-hover);
}
.nav .nav-btn-home{
    padding: 0 18px;
    color: black !important;
}
.social{
    margin-left: auto;
    margin-top: 18px;
}
.social a{
    padding: 10px;
    font-size: 12px;
    color: black;
    text-decoration: none;
}
.social a:first-child:hover{
    color: blue;
}
.social a:nth-child(2):hover{
    color: blue;
}
.social a:nth-child(3):hover{
    color: red;
}
.social a:nth-child(4):hover{
    color: red;
}

.btn-mail{
    font-size: bold 14px;
    font-weight: bold;
    border: 0;
    border-radius: 50px;
    padding: 1px 25px;
    line-height: 35px;
    background: var(--color-yellow);
    cursor: pointer;
    margin-left: 0;
}
.btn-mail:hover{
    background-color: var(--color-yellow-hover)
}
.content{
    width: 848px;
}
.content-home{
    margin-top: 30px;
}

.home-aboutme{
    padding: 30px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
}

.home-aboutme p{
    line-height: 30px;
}

.aboutme-p{
    padding-top: 30px;
}

.home-my-sv{
    padding: 30px;
}


.my-sv-items{
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
}
.item{  
    padding: 25px;
}
.my-sv-items .icon{
    font-size: 45px;
    opacity: 0.6;
}

.my-sv-items .item{
    width: 22%;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
}

.home-skills{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);

}

.home-skills li{
    list-style-type: none;
    justify-content: space-between;
}
.skill-item{
    flex-basis: 50%;
}

.content-resume{
    margin-top: 50px;
    width: 848px;
}

.history-info{
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
    border-radius: 5px;
}

.lv{
    width: 300px;
    height: 5px;
    background-color: rgb(200,200,200) !important;
    border-radius: 2.5px;
}
.lv-pts{
    background: linear-gradient(to right, var(--color-yellow) 80%, transparent 0);
}
.lv-skech{
    background: linear-gradient(to right, var(--color-yellow) 60%, transparent 0);
}
.lv-adobe{
    background: linear-gradient(to right, var(--color-yellow) 30%, transparent 0);
}
.lv-javascrip{
    background: linear-gradient(to right, var(--color-yellow) 80%, transparent 0);
}
.lv-html{
    background: linear-gradient(to right, var(--color-yellow) 60%, transparent 0);
}
.lv-css{
    background: linear-gradient(to right, var(--color-yellow) 30%, transparent 0);
}

.history{
}

.history li:before{
} 

.history-info{
    display: flex;
    margin-top: 40px;
    justify-content: center;
    position: relative;
    padding: 0 20px;
}
.history-info h3{
    display: block;
    margin-left: 10px;
}
.info-work li:not(:first-child):before{
    content: "";
    border: 2px solid var(--color-yellow);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 16px;
    margin-top: 20px;
}



.info-work li:first-child{
    position: relative;
    bottom: 60px;
}
.info-work .briefcase{
    border: 2px solid var(--color-yellow);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: var(--color-yellow);
    position: relative;
    bottom: -40px;
    right: 56px;
    opacity: 1;
}

.history-info .icon{
    position: relative;
    left: -94px;
    bottom: -20px;
}

.info-work{
    padding: 0 30px;
    border-left: 1px solid #ccc;
}
.info-edu{
    padding: 0 30px;
    border-left: 1px solid #ccc;
    position: relative;
}

.info-edu li:first-child{
    position: relative;
    bottom: 60px;
}

.info-edu .briefcase{
    border: 2px solid var(--color-yellow);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: var(--color-yellow);
    position: relative;
    bottom: -40px;
    right: 56px;
    opacity: 1;
}

.info-edu li:not(:first-child)::before{
    content: "";
    border: 2px solid var(--color-yellow);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: -4px;
    margin-top: 20px;
}
.history li{
    display: inline-block;
}

.history-info span{
    display: block;
    font-size: 12px;
    margin-top: -7px;
}

.history p{
    display: inline-block;
    list-style-type: none;
    opacity: 0.7;
    margin-top: 15px;
}

.client {
    padding-top: 50px;
}

.client-img-a{
    display: flex;
    justify-content: space-around;
    margin: 50px 0 50px 30px;

}

.client .client-img-a img{
        padding: 26px 16px;
        border-radius: 8px;
        box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
        width: 80%;     
} 


.testi .line{
    margin-bottom: 50px;
}

.testi-cmt {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-left: 15px;
}
.testi-cmt-item{
    border-radius: 5px;
    padding: 20px;
    margin: 15px;
    width: 25%;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
}
.testi-info{
    display: flex;
}

.testi .avt {
    flex: 1;
}

.testi .name{
    flex: 2
}

.testi-info p{
    opacity: 0.4;
    margin: 0;
    font-size: 12px;
}


.testi img{
    position: relative;
    width: 80%;
    border-radius: 50%;
    right: 10px;
    top: 5px;
    left: 0;
}

.content-portfolio{
    margin-top: 50px;
}

.content-portfolio p{
    display: block;
    line-height: 1px;
    padding-left: 10px;

}

.content-portfolio span {
    padding-left: 10px;
}

.content-portfolio img{
    padding-bottom: 25px;
}



.filter{
    display: flex;
    padding: 20px 0;
}

.filter a{
    text-decoration: none;
    display: block;
    margin: 0 8px;
    color: black;
    opacity: 0.7;
}
.item-filter{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-top: 30px;
    border-radius: 5px;

}
.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -40px;
}

.content-portfolio i{
    position: relative;
    font-size: 20px;
    top: 40%;
    left: 45%;
    color: #fff;
}

.content-portfolio i:before{
    border: 10px solid var(--color-yellow);
    border-radius: 50%;
    background-color: var(--color-yellow);
    opacity: 0 ;
}

.item-filter:hover {
    cursor: pointer;
}

.content-blog{
    padding: 50px;
}

.blog-item {
    display: flex;
    padding-top: 50px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog-item a{
    text-decoration: none;
    color: black;
}

.blog-item span{
    font-size: 14px;
    opacity: 0.5;
}
.blog-item .text{
    font-size: 14px;
    opacity: 0.5;
}

.blog-item .date{
    font-size: 12px;
}

.item-one{
    width: 30%;
    display: flex;
}
.blog-item img{
    width: 100%;
}
.blog-item .item-one-info{
    padding: 20px 0 50px 10px;
}

.contact-info{
    display: flex;
}

.form-input{
    display: flex;
    padding: 20px 0;
    justify-content: space-around;
}

.form-input-item{
    padding-right: 30px;
}
.form .site-input{
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 45px;
}
.form button{
    border: 0px solid var(--color-yellow);
    border-radius: 15px;
    width: 100px;
    height: 36px;
    background-color: var(--color-yellow);
    margin-top: 30px;
}

.form button:hover{
    background-color: var(--color-yellow-hover);
    cursor: pointer;
}
.content-contact li {
    display: block;
}

.content-contact p{
    opacity: 1;
}
.content-contact span{
    opacity: 0.6;
}

.infomations{
    padding-left: 50px;
}
.infomations .info{
    display: block;
    margin-top: 20px;
}

.infomations a{
    display: inline-block;
    font-size: 12px;
    color: black;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 10px;
}
.infomations a:first-child:hover{
    color: blue;
}
.infomations a:nth-child(2):hover{
    color: blue;
}
.infomations a:nth-child(3):hover{
    color: red;
}
.infomations a:nth-child(4):hover{
    color: red;
}

.contact-map{
    padding-top: 50px;

}

.contact-map iframe{
    width: 100%;
    padding: 20px 20px 0 20px;
    height: 350px;
}

.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding-top: 50px;
    background-color: black;
    margin-top: 60px;
    border-radius: 10px;
}
.footer-name{
    position: relative;
    color: white;
    bottom: 25px;
    left: 25px;
}
.footer h4{
    color: white;
}

.footer-design{
    position: relative;
    color: white;
    bottom: 22px;
    right: 100px;
    font-size: 12px;
    color: #9C9C9C;
}
.footer-design a{
    text-decoration: none;
    color: white;
}

.footer-design a:hover{
   opacity: 0.8;
}








/* .history-info li::before{
    content: "";
    border: solid 2px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    font-size: 8px;
    margin-left: -25px;
    margin-top: 2px;
    font-weight: 400;
    background: #fff;
    color: var(--color-yellow);
} */

