


p{
    font-size: 14px;
    opacity: 0.8;
}
ul{
    list-style-type: none;
}


.line{
    display: inline-block;
    width: max-content;
    line-height: 5px;
    font-size: 20px;
    line-height: 5px;
}

.line span{display: inline-block;
    height: 7px;
    width: 100%;
    background-color: var(--color-yellow);
    opacity: 0.5;
}

h5{
    line-height: 30px;
    padding-top: 10px;
}
h6{
    line-height:30px;
    font-size: 15px;
}
.wrapper{
    width: 1250px;
    height: auto;
    /* margin: 0 auto; */
    margin-top: 60px;
    margin-bottom: 50px;
    /* padding: 0 15px; */
    display: flex;
}


.profile{
    border-radius: 7px;
    height: max-content;
    width: 350px;
    padding-top: 15px 0;
    background-color: #fff;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
    position: relative;
    padding: 30px 0;
}

.profile__name{
    margin-left: 20px;
    margin-top: -20px;
    width: 100%;
    padding: 20px 0; 
}

.job {
    font-size: 14px;
    opacity: 0.7;
}
.profile__info{
    line-height: 2.5;
    height: 244px;
    font-size: 0px;
    margin: 0px 0px 0px 60px;
    list-style-type: none;
}   


.profile__info-glasses{
    width: 30px;
    position: relative;
    bottom: 14px;
    right: 42px;
    z-index: 1;
}

/* Test icon kính thẻ li */

/* .profile .profile__info li:first-child::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-yellow);
    margin-top: -80px;
    margin-left: -50px;
    opacity: 0.5;
}

.profile .profile__info li:first-child::after {
    content: "";
    display: block;
    background-image: url('https://html.tavonline.co/mat/default/images/glasses.png');
    background-size: 20px 20px;

} */

/* Test icon kính thẻ li */

.profile__info .glass{
    border: 2px solid var(--color-yellow);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: var(--color-yellow);
    position: relative;
    bottom: 40px;
    right: 48px;
    opacity: 1;
}

.profile .profile__info-font-t::before{
    content: "";
    border: 2px solid var(--color-yellow);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 30px;
    margin-top: 12px;
    z-index: 1;
}

.profile .line{
    position: absolute;
    height: 200px;
    width: 1px;
    background-color: #ccc;
    left: 34px;
    top: 456px;
}




.profile__info-font{
    opacity: 0.7;
}
.profile__info-font-t{
  
}

.profile__avatar{
    width: 100%;
    height: auto;
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
}
.downloadcv{
    margin-left: 60px;
}

.downloadcv i {
    font-size: 25px;
    margin-left: 20px;
    color: white;
}

.btn{
    font-weight: bold;
    border: 0;
    border-radius: 50px;
    padding: 8px 10px;
    background: var(--color-yellow);
    cursor: pointer;
    margin-top: 10px;
    margin-left: -5px;
    display: flex;
    line-height: 25px;
    
}

.btn:hover{
    background-color: var(--color-yellow-hover)
}
    

.main{
    width: 900px;
    height: auto;
    padding: 0 30px;
    /* margin-left: 20px; */
}
.header{
    position: relative;
    width: 900px;
    height: 76px;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
}
.nav {
    display: flex;
}

.nav li{
    display: inline-block;
}
.nav .nav-btn{
  display: inline-block;
}
.nav-btn a{
    color: black;
    text-decoration: none;
    line-height: 76px;
    font-weight: bold;
    font-size: 15px;
    padding: 0 10px;
}
.nav-btn a:hover{
    color: var(--color-yellow)
}

.nav .nav-btn-h{
    background-color: var(--color-yellow);
    border-radius: 7px 0 0 7px;

}
.nav .nav-btn-h:hover{
    background-color: var(--color-yellow-hover);
}
.nav .nav-btn-home{
    padding: 0 18px;
    color: black !important;
}
.social{
    display: flex;
    margin-left: auto;
    margin-top: 22px;
}
.social a{
    padding: 10px;
    font-size: 15px;
    color: black;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}
.social a:first-child:hover{
    color: blue; transform: scale(1.2);
}
.social a:nth-child(2):hover{
    color: blue; transform: scale(1.2);
}
.social a:nth-child(3):hover{
    color: red; transform: scale(1.2);
}
.social a:nth-child(4):hover{
    color: red; transform: scale(1.2);
}
.social a:hover{
    animation: increase-size 0.3s ease-in-out;
    animation-fill-mode: forwards;
}


.btn-mail{
    line-height: 25px;
    font-size: 15px;
    font-weight: bold;
    border: 0;
    border-radius: 50px;
    padding: 8px 10px;
    background: var(--color-yellow);
    cursor: pointer;
    margin: -5px 10px;
    display: flex;
    justify-content: center;
}

.btn-mail i {
    color: white;
    font-size: 25px;
    margin-left: 20px;
}


.btn-mail:hover{
    background-color: var(--color-yellow-hover)
}

.menu-btn, .menu-hidden{
    display: none;
}


.content{
    width: 900px;
}
.content-home{
    margin-top: 50px;
}

.home-aboutme{
    padding: 30px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
}

.home-aboutme p{
    line-height: 30px;
}

.aboutme-p{
    padding-top: 30px;
}

.home-my-sv{
    padding: 30px;
    margin-top: 50px;
}


.my-sv-items{
    display: flex;
    padding: 15px 0;
    justify-content: space-between;
}
.item{  
    padding: 25px;
}
.my-sv-items .icon{
    font-size: 45px;
    opacity: 0.6;
}

.my-sv-items .item{
    width: 22%;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
}

.home-skills{
    display: flex;
    padding: 30px;
    justify-content: space-between;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);

}

.home-skills li{
    list-style-type: none;
    justify-content: space-between;
    padding: 10px 0;
}
.skill-item{
    /* flex-basis: 50%; */
}

.content-resume{
    margin-top: 50px;
    width: 900px;
}

.history-info{
    border-radius: 5px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    position: relative;
    /* padding: 0 20px; */
}

.lv{
    width: 400px;
    height: 5px;
    background-color: rgb(200,200,200) !important;
    border-radius: 2.5px;
}
.lv-pts{
    background: linear-gradient(to right, var(--color-yellow) 80%, transparent 0);
}
.lv-skech{
    background: linear-gradient(to right, var(--color-yellow) 60%, transparent 0);
}
.lv-adobe{
    background: linear-gradient(to right, var(--color-yellow) 30%, transparent 0);
}
.lv-javascrip{
    background: linear-gradient(to right, var(--color-yellow) 80%, transparent 0);
}
.lv-html{
    background: linear-gradient(to right, var(--color-yellow) 60%, transparent 0);
}
.lv-css{
    background: linear-gradient(to right, var(--color-yellow) 30%, transparent 0);
}

.history{
    padding: 30px;
    margin-top: 50px;
    width: 900px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);

}

.history li:before{
} 

.history-info h3{
    display: block;
    margin-left: 10px;
    font-size: 20px;
}
.info-work li:not(:first-child):before{
    content: "";
    border: 2px solid var(--color-yellow);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 26px;
    margin-top: 20px;
}



.info-work li:first-child{
    position: relative;
    bottom: 60px;
}
.info-work .briefcase{
    border: 2px solid var(--color-yellow);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: var(--color-yellow);
    position: relative;
    bottom: -40px;
    right: 60px;
    opacity: 1;
}

.history-info .icon{
    position: relative;
    left: -104px;
    bottom: -19px;
    font-size: 20px;
}

.info-work{
    border-left: 1px solid #ccc;
    margin-left: 30px;
    padding-left: 30px;
}
.info-edu{
    border-left: 1px solid #ccc;
    position: relative;
    margin-left: 30px;
    padding-left: 30px;
}

.info-edu li:first-child{
    position: relative;
    bottom: 60px;
}

.info-edu .briefcase{
    border: 2px solid var(--color-yellow);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: var(--color-yellow);
    position: relative;
    bottom: -40px;
    right: 60px;
    opacity: 1;
}

.info-edu li:not(:first-child)::before{
    content: "";
    border: 2px solid var(--color-yellow);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: -4px;
    margin-top: 20px;
}
.history li{
    display: inline-block;
    padding-bottom: 40px;
}
.history-info h4{
    font-size: 18px;
}
.history-info span{
    font-size: 16px;
    opacity: 0.8;
}

.history p{
    display: inline-block;
    list-style-type: none;
    opacity: 0.6;
    margin-top: 15px;
    font-size: 16px;
}

.client {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #f1f1f1;
}

.client .client-img-a{
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0px;
    width: 100%;

}

.client .client-img-a img{
        width: 100%; 
}

.client-img-a .img {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
    width: 100%;
    padding: 26px 16px;
    margin: 30px 15px 30px 0;
}


.testi {
    padding-top: 50px;
    padding-bottom: 100px;
}

.testi .line{
    margin-bottom: 50px;
}

.testi-cmt {
    display: flex;
    /* flex-wrap: wrap; */
    margin-left: 15px;
    overflow: hidden;
}
.testi-cmt-item{
    width: 260px;
    border-radius: 5px;
    padding: 20px;
    margin: 15px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
    flex-shrink: 0;
    animation: slide-left-right 20s linear infinite; 
}

@keyframes slide-left-right {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.testi-info{
    display: flex;
}

.testi .avt {
    flex: 1;
}

.testi .name{
    flex: 2
}

.testi-info p{
    opacity: 0.4;
    margin: 0;
    font-size: 12px;
}


.testi img{
    position: relative;
    width: 80%;
    border-radius: 50%;
    right: 10px;
    top: 5px;
    left: 0;
}

.content-portfolio{
    margin-top: 50px;
    padding: 30px;
    width: 900px;
}

.content-portfolio p{
    display: block;
    line-height: 1px;
    padding-left: 10px;

}

.content-portfolio span {
    padding-left: 10px;
}

.content-portfolio img{
    padding-bottom: 25px;
}


.filter{
    display: flex;
    padding: 15px 0;
    flex-wrap: wrap;
}

.filter a{
    text-decoration: none;
    display: block;
    padding-right: 15px;
    color: #b1a8a8;
    line-height: 20px;
}


.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.items .item {
    width: 260px;
    cursor: pointer;
}



.items img{
    width: 200px;
    border-radius: 5px;
}

.items .info{
    font-size: 15px;
    color: #797171;
}

.button-loadmore{
    width: 150px;
    height: 40px;
   background-color: var(--color-yellow);
   border-radius: 20px;
   margin: 20px 0 0 40% ;
   padding-top: 10px;
   padding-left: 28px;
}

.button-loadmore:hover{
    background-color: var(--color-yellow-hover);
}

.content-portfolio i{
    position: relative;
    font-size: 20px;
    left: 35%;
    bottom: 140px;
    color: #fff;
    visibility: hidden;
    
}

.content-portfolio i:before{
    border: 10px solid var(--color-yellow);
    border-radius: 50%;
    background-color: var(--color-yellow);
}

.content-portfolio .items .item:hover i{
    visibility: visible;
    animation: move-up 0.5s;
}

@keyframes move-up {
    from {opacity: 0; bottom: 80px;}
    to {opacity: 1; bottom: 140px;}
}

.item-filter:hover {
    cursor: pointer;
}

.content-blog{
    margin-top: 50px;
    padding: 30px;
    width: 900px;
}

.blog-item {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
}

.blog-item a{
    text-decoration: none;
    color: black;
}

.blog-item span{
    font-size: 13px;
    line-height: 50px;
}

.blog-item h5{
    font-size: 14px;
}

.blog-item p{
    font-size: 13x;
    color: #534d4d;
}

.item-one{
    width: 290px;
    display: flex;
}
.blog-item img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}
.blog-item .item-one-info{
    padding: 20px 0 50px 10px;
    height: max-content;
}

#load-btn-blog{
    margin: auto;
    background-color: var(--color-yellow);
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px;
}

#load-btn-blog:hover{
   background-color: var(--color-yellow-hover);
}

.contact-info{
    display: flex;
}

.form-input{
    display: flex;
    padding: 20px 0;
    justify-content: space-around;
}

.form-input input, textarea {
    outline: none;
}

.form-input-item{
    padding-right: 30px;
}
.form .site-input{
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    height: 45px;
}

.form button:hover{
    background-color: var(--color-yellow-hover);
    cursor: pointer;
}
.content-contact{
    margin-top: 50px;
    padding: 30px;
}
.content-contact li {
    display: block;
}

.content-contact p{
    opacity: 1;
}
.content-contact span{
    opacity: 0.6;
}

.infomations{
    padding-left: 50px;
}
.infomations .info{
    margin-top: 35px;
}

.infomations .info li{
    padding-bottom: 15px;
}

.infomations a{
    display: inline-block;
    font-size: 15px;
    color: black;
    text-decoration: none;
    margin-top: 15px;
    margin-right: 10px;
    padding: 5px;
    transition: transform 0.2s ease-in-out;
}
.infomations a:first-child:hover{
    color: blue; transform: scale(1.2);
}
.infomations a:nth-child(2):hover{
    color: blue; transform: scale(1.2);
}
.infomations a:nth-child(3):hover{
    color: red; transform: scale(1.2);
}
.infomations a:nth-child(4):hover{
    color: red; transform: scale(1.2);
}

.content-contact button{
    border: 0px solid var(--color-yellow);
    border-radius: 15px;
    width: 100px;
    height: 36px;
    background-color: var(--color-yellow);
    margin-top: 30px;
}

.contact-map{
    padding-top: 100px;
}

.contact-map iframe{
    width: 100%;
    padding-top: 20px;
    height: 350px;
}

.footer{
    display: flex;
    justify-content: space-between;
    width: 900px;
    height: 70px;
    padding-top: 50px;
    background-color: black;
    margin-top: 60px;
    border-radius: 10px;
}
.footer-name{
    position: relative;
    color: white;
    bottom: 25px;
    left: 25px;
}
.footer h4{
    color: white;
}

.footer-design{
    position: relative;
    color: white;
    bottom: 22px;
    right: 100px;
    font-size: 12px;
    color: #9C9C9C;
}
.footer-design a{
    text-decoration: none;
    color: white;
}

.footer-design a:hover{
   opacity: 0.8;
}


.spiner {
    position: absolute;
    left: 100%;
    width: 50px;
    height: 50px;
    background-color: #fff;
    cursor: pointer;
}

#backgruond-change{
    position: fixed;
    width: 250px;
    height: 200px;
    top: 200px;
    background-color: #fff;
    left: -250px;
}

#backgruond-change h4 {
    text-align: center;
    line-height: 40px;
}

#backgruond-change ul li {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

#backgruond-change button {
    width: 80px;
    height: 30px;
    margin-left: 70px;
    margin-top: 10px;
    background-color: rgb(49, 117, 145);
    font-weight: bold;
    color: white;
}

#backgruond-change:hover{
    animation: move-change-color 1.5s forwards;
}

@keyframes move-change-color {
    from{left: -250px}
    to{left: 0px}
}
